<div class="card card-{{ style }} card-{{ size }}" id="{{ id }}">
  <div class="card__image">
    <a href="{{ url }}">
      {{ image }}
    </a>
  </div>
  <div class="card__body">
    {% if date or type %}
    <div class="card__eyebrow">
      {% if date %}<span class="card__date">{{ date }}</span>{% endif %}
      {% if date and type %} | {% endif %}
      {% if type %}<span class="card__type">{{ type }}</span>{% endif %}
    </div>
    {% endif %}
    <{{ heading_level }} class="card__title">
      <a href="{{ url }}">{{ title }}</a>
    </{{ heading_level }}>
    {% if flair %}
      {% set flair_type = (flair == 'Breaking News Statement') ? 'breaking' : 'default' %}
      <div class="card__flair flair--{{ flair_type }}">{{ flair }}</div>
    {% endif %}
    {% if teaser %}<div class="card__teaser">{{ teaser }}</div>{% endif %}
  </div>
</div>