<section class="videos">
  {% include '@components/section_header/section_header.twig' %}
  <div class="videos__container">
    {% for video in videos %}
      {% include '@components/video_horizontal/video_horizontal.twig' with video %}
    {% endfor %}
  </div>
  <div class="videos__playlist">
    {% if {{ playlist_heading }} %}
      <h3>{{ playlist_heading }}</h3>
    {% endif %}
    {% for item in videos %}
      <button class="videos__item icon-play" aria-controls="video-{{ item.id }}">
        <div class="videos__item-icon"><span class="icon-label sr-only">Play video</span></div>
        <div class="videos__item-title">{{ item.title }}</div>
        <div class="videos__item-duration">{{ item.duration }}</div>
      </button>
    {% endfor %}
  </div>
</section>