<article class="report">
  <div class="report__cover">
    {{ image }}
  </div>
  <a class="report__card" href="{{ url }}">
    <h3 class="report__title">
      {{ title }}
    </h3>
    <div class="report__subtitle">
      {{ subtitle }}
    </div>
    <div class="report__teaser">
      {{ teaser }}
    </div>
    <div class="report__date">
      {{ date }}
    </div>
    <div class="report__pagecount">
      {{ pagecount }}
    </div>
  </a>
</article>