<section class="hero-news {% if variant %}hero-{{ variant }}{% endif %}">
  <div class='hero__image'>
    <a href="#">{{ image }}</a>
  </div>
  <div class='hero__card'>
    {% if eyebrow %}
      <div class='hero__eyebrow'><span class="inner">{{ eyebrow }}</span></div>
    {% endif %}
    {% if date %}
      <div class='hero__date'>{{ date }}</div>
    {% endif %}
    <h2 class='hero__headline'>
      <a href="#">
        {{ headline }}
      </a>
    </h2>
    <div class='hero__body'>
      {{ body }}
    </div>
    {% if package %}
      <div class='hero__package'><span class="inner">{{ package }}</span></div>
    {% endif %}
    {% if links %}
      <ul class="hero__links">
      {% for link in links %}
        <li>{% include '@components/link_emphasis/link_emphasis.twig' with link %}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class='hero__video-trigger'>
    {% block video_widget %}
    {% include '@components/modal_disclosure/modal_disclosure.twig'
      with vars.modal_disclosure
    %}
    {% endblock %}
  </div>
</section>