<div class="video-vertical video" data-orientation="vertical" data-type="{{ type }}" data-id="{{ id }}" id="video-{{ id }}">

  <div class="video__player" id="video-{{ type }}-{{ id }}">

    {% if type == "youtube" %}
      {# The .video__player element will be replaced by the YouTube iframe. #}
    {% endif %}

    {% if type == "html5" %}
      <video
              data-matomo-title="{{ title }}"
              controls
              playsinline
              preload="none"
      >
        {% for item in sources %}
          <source
                  src="{{ item.src }}"
                  type="{{ item.type }}"
                  {% if item.media %} media="{{ item.media }}" {% endif %}
                  {% if item.adaptive %} data-adaptive="{{ item.adaptive }}" {% endif %}
          />
        {% endfor %}
      </video>
    {% endif %}
  </div>

  <button class="video__poster" aria-controls="video-{{ type }}-{{ id }}">
    {{ image }}
    <div class="video__info">
      <div class="video__icon"><span class="sr-only">Play</span></div>
      <div class="video__title">
        {{ title }}
      </div>
    </div>
  </button>

  {% if text_description %}
    {% include '@components/modal_disclosure/modal_disclosure.twig' with {
      id: 'text-description-' ~ id,
      title: 'Read a text description of this video',
      body: text_description,

    } %}
  {% endif %}
</div>